/* Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');

/* Young Serif */
@font-face {
    font-family: 'YoungSerif';
    src: url('../fonts/YoungSerif-Regular.woff2') format('woff2'),
        url('../fonts/YoungSerif-Regular.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/* Color vars */
:root {
    --primary-color: #396E94;
    --secondary-color: #E7C24F;
    --accent1-color: #A42212;
    --accent2-color: #AABD8C;

    --heading-font: YoungSerif, Georgia, serif;
    --paragraph-font: Open Sans, Arial, Helvetica, sans-serif;

    /* these colors below should be chosen from among your palette colors above */
    /* headlines on a white background */
    --headline-color-on-white: var(--primary-color);
    /* headlines on a colored background */
    --headline-color-on-color: white;
    /* paragraph text on a white background */
    --paragraph-color-on-white: var(--primary-color);
    /* paragraph text on a colored background */
    --paragraph-color-on-color: white;
    --paragraph-background-color: var(--primary-color);
    --nav-link-color: var(--primary-color);
    --nav-background-color: var(--accent2-color);
    --nav-hover-link-color: white;
    --nav-hover-background-color: var(--primary-color);
    --background-color: bisque;
}

/* Font defaults */
* {
    font-size: 22px;
}

h1, h2 {
    font-family: var(--heading-font);
}

p, a, h3, h4 {
    font-family: var(--paragraph-font);
}

/****************/
/* -- HEADER -- */
/****************/
header {
    background-color: var(--accent2-color);
}

/* Nav links */
nav a {
    text-align: center;
    color: var(--primary-color);
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    background-color: var(--primary-color);
    color: white;
}

.logo,
.icon {
    width: 80px;
}

#logo_link {
    padding-top: 5px;
}

/**************/
/* -- BODY -- */
/**************/
body {
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

#hero-msg h1,
#hero-msg h4 {
    text-align: center;
}

#hero-img {
    width: 100%;
}

.home-title {
    color: var(--primary-color);
    font-size: 2em;
    margin-top: 10px;
}

h2 {
    margin: 0;
}

h2,
h4 {
    color: var(--paragraph-color-on-white);
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

#background {
    background-color: var(--primary-color);
    height: 725px;
}

/* Book Now/Join Us buttons */
.book,
.join {
    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover,
.join:hover {
    background-color: white;
    color: var(--primary-color);
}

.msg {
    background-color: var(--accent2-color);
    line-height: 1.5em;
    padding: 35px;
}

.msg h2 {
    color: var(--headline-color-on-color);
}

.msg p {
    color: var(--paragraph-color-on-color);
    font-size: .8em;
    padding-bottom: 15px;
}

.card-img {
    border: 10px solid var(--accent1-color);
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.icon {
    padding-top: 10px;
}

/****************/
/* -- FOOTER -- */
/****************/
footer {
    background-color: var(--primary-color);
    color: var(--headline-color-on-color);
    padding: 25px 50px;
    margin-top: 200px;
}

footer p {
    font-size: 1.2em;
}

/* For copyright year */
footer span {
    font-size: 100%;
}

footer a {
    color: var(--accent2-color);
    text-decoration: none;
}

footer a:hover {
    color: bisque;
}

footer p a:hover {
    text-decoration: underline;
}

footer .social img {
    padding-top: 15px;
}