body {
    margin: 0;
    background-color: #737373;
}

#hero {
    width: 100%;
}

.circle {
    border-radius: 50%;
    border: 10px solid #444444;
    width: 20%;
    margin: 0 auto;
}

#circles-div {
    display: flex;
    margin: 4%;
}